body {
    font-family: 'League Spartan', sans-serif;
    background-color: #232946;
    color: #b8c1ec;
    font-size: 30px;
}



#container {
    display:flex;
    margin: 0 auto;
    align-items: center;
    max-width: 100%;
}

.containerOne {
    justify-content: space-between;
}

.emoji {
    display: inline-block;
    animation: wave 1s;
    animation-iteration-count: 2;
    font-size: 2rem;
}

h1 {
    color: #fffffe;
    font-size: 5rem;
    
    font-weight: 700;
}

h2 {
    color: #b8c1ec;
    font-size: 2rem;
    
    font-weight: 700;
}

.intro-left, .two-left {
    padding: 5%;
    max-width: 40%;
}


.intro-right, .two-right {
    padding: 5%;
    max-width: 40%;
    position: relative;
}
.intro-right img, .two-left img {
    border-radius: 50%;
    max-width: 500px;
    min-width: 300px;
}

.intro-right img:hover, img:focus {
    background-color: black;
    opacity: 0.5;
    
    transition: 0.5s ease;
}


.img-description {
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s ease;
    text-align: center;
    color: #fffffe;

}

.img-container:hover .img-description {
    opacity: 1;
}
.intro-bottom {
    text-align: center;
}

.scroll-arrow {
    animation: bounce 3s;
    animation-iteration-count: infinite;
    width: 100px;
}

 .containerTwo, .containerThree {
     transition: 1s ease;
 }

 .accent {
     color: #eebbc3;
     font-weight: 700;
 }

 /* SECTION TWO */
.containerTwo {
    justify-content: center;
}
 .accent-one {
     text-align: right;
 }

 .accent-two {
     text-align: center;
     color: #FE7F2D;

 }

 .ellipse-one {
     display: inline-block;
     animation: ripple 2s ease infinite .1s;
     
 }

 .ellipse-two {
    display: inline-block;
    animation: ripple 2s ease infinite .2s;
}

.ellipse-three {
    display: inline-block;
    animation: ripple 2s ease infinite .3s;
}

/* SECTION THREE */

.containerThree {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}

.headlineThree {
    text-align: center;
}
ul {
    list-style: none;
    font-size: 2em;
    text-align: center;
}

a {
    font-weight: 700;
    text-decoration: none;
    color:#008DD5
}

a:hover, a:focus, #i-learned:hover {
    text-decoration: underline;
    color: #F3DE8A;
    cursor: pointer;
}

.containerThree img {
    height: 2rem;
}

#i-learned {
    font-size: 4rem;
}

#skill-list {
    text-align: center;
}

#click-me {
    margin-top: -50px;
    transition: 1s ease;
}

/* SECTION FOUR */

.containerFour {
    justify-content: space-evenly;
}

#containerFour-text {
    max-width: 40%;
    border: 1px solid white;
}

#carousel {
    max-width: 40%;
    position: relative;
   
}
  
.carousel-item{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 400px;
    max-width: 400px;
  }
  
  .carousel-item.active{
    position: static;
    opacity: 1;
  }

  .containerFour img {
      object-fit: contain;
      max-height: 400px;
  }

  .containerFour h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffffe;
  }

  #contact {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
  }

/* animations */
 @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 

@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(90deg);
      }
    }

@keyframes ripple {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-25px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-2px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }


@media (min-width: 300px) and (max-width: 600px) {

    h1 {
        font-size: 4rem;
    }
    #container {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }

    .intro-left, .two-left {
        max-width: 100%;
        padding: 0;
    }

    .intro-right, .two-right {
        max-width: 100%;
        padding: 0;
    }

    .accent-one {
        text-align: center;
    }

    .containerOne img, .containerTwo img {
        max-width:90%;

    }

    #containerFour-text {
        max-width: 100%;
    }

    #carousel {
        padding-top: 100%;
    }
}